/* SummarizeButton.scss */
.button-container {
  button {
    background-color: #0064d0;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #003671;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
